body {
  background-color: #34495e;
  min-width: 1000px;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.app {
  /* width: 100%; */
  /* margin-top: 60px; */
  min-width: 1000px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__container {
  width: 900px;
  min-width: 900px;
  height: 100%;
  /* height: 500px; */
  /* background-color: white; */
}

#header__container {
  width: 900px;
  height: 30px;
  background-color: wheat;
  /* opacity: 0.2; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 10px;
  border-radius: 10px 10px 0 0;
}
#header__container > div:nth-child(1),
#header__container > div:nth-child(2) {
  margin-right: 20px;
  width: 110px;
  background-color: white;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#section__container {
  min-width: 900px;
  height: 400px;
  background-color: white;
  /* border-radius: 30px; */

  display: flex;
}

.calender__container {
  width: 350px;
  height: 100%;
  background-color: white;
  /* opacity: 0.2; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.calender--title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.calender--title > span:nth-child(1) {
  font-size: 20px;
}
.calender__container > div > button {
  cursor: pointer;
}

table {
  width: 100%;
  /* border: 1px solid black; */
  /* padding: 10px; */
}
th,
td {
  text-align: center;
  width: 50px;
  font-size: 11px;
  border: 1px solid #9e9e9e;
}
th {
  height: 20px;
}
td {
  height: 45px;
}
td > div {
  height: 15px;
  width: 100%;
}
.td-lastMonth > div:nth-child(1),
.td-nextMonth > div:nth-child(1) {
  color: #b2bec3;
}
.table-td-dateDiv {
  cursor: pointer;
}

.today--day {
  background-color: red;
  border-radius: 20px;
}
/* td > div:nth-child(1) {
  background-color: white;
} */

.toDoList__container {
  width: 550px;
  height: 100%;
  margin-left: 20px;
}
.toDoList__container > header {
  margin-top: 10px;
  height: 50px;
}
.toDoList__container > header > div > span:nth-child(2) {
  padding-left: 40px;
  font-size: 30px;
}
.toDoList__container__section {
  /* height: 100%; */
  padding: 10px 10px;
  width: 100%;
  height: 330px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: 300px 300px; */
}

#footer__container {
  width: 100%;
  height: 30px;
  background-color: wheat;
  /* opacity: 0.2; */
  border-radius: 0 0 10px 10px;
}

.footer--emg {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer--emg span {
  margin-left: 10px;
  margin-right: 20px;
}
.none {
  display: none;
}

.todoCount {
  background-color: #fce4ec;
}

.doneCount {
  background-color: #dcedc8;
}
